<div class="wrapper">
    <div class="profile-top">
      <div class="profile-image"></div>
    </div>

    <div class="profile-bottom">
      <div class="profile-infos">
        <div class="main-infos">
          <h3 class="name">{{userData.displayName}}</h3>
        </div>
        <p class="email">{{userData.email}}</p>
        <p class="ville">Tarbes</p>
      </div>

      <div class="profile-stats">
        <div class="stat-item">
          <p class="stat">120</p>
          <p class="grey">Commandes</p>
        </div>
        <div class="stat-item">
          <p class="stat">45</p>
          <p class="grey">Avis</p>
        </div>
        <div class="stat-item">
          <p class="stat">1003 Kilo</p>
          <p class="grey">Carbonne sauvé</p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
