<nav class="nav">
  <a class="nav__link nav__link--active" (click)="navigateToProducteur()">
    <i class="material-icons nav__icon">airport_shuttle</i>
    <span class="nav__text">Producteurs</span>
  </a>
  <a class="nav__link" (click)="navigateToHistorique()">
    <i class="material-icons nav__icon">receipt</i>
    <span class="nav__text">Commandes</span>
  </a>
  <a class="nav__link" (click)="navigateToProfil()">
    <i class="material-icons nav__icon">account_circle</i>
    <span class="nav__text">Profile</span>
  </a>
</nav>