<div><app-header></app-header></div>

<img class="boulangerie" [src]="urlImg">

<h1>Nos produits locaux :</h1>
<div>
<div class="card" *ngFor="let products of (productsList$|async)">
  <fa-icon [icon]="faCartPlus" (click)="addProduct(products.produit,products.price)"></fa-icon>
    <div class="name"><p>Nom : {{products.produit}}</p></div>
    <div><p>Description : {{products.description}}</p></div>
    <div><p>Prix : {{products.price}}€</p></div>
</div>
<hr>
</div>

<h2>Votre panier :</h2>
<div class="card" *ngFor="let resumeItem of productAdd">
  <div class="name2" *ngIf="resumeItem.item!=''"><p>{{resumeItem.quantity}} {{resumeItem.item}} Prix : {{resumeItem.price*resumeItem.quantity}} €</p><hr></div>
</div>
<input class="faCartPlus" type="submit" value="Valider" (click)="navigateToReglement()">
