html, body {
    height: 100%;
    margin: 0;
}

@media (max-width: 450px) and (max-height: 700px) { /* Ajuster la taille d'écran appropriée pour les appareils mobiles */
    button {
      background-color: rgb(78, 159, 61);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 159, 61);
    height: 100%;
}

.container {
    text-align: center;
    color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.deliveryimg {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 135px;
    padding-top: 50px;
    text-align: center;
}

h1, h2, h3, h4, .bddnom, .bddloca, .bddcate {
    background-color: rgb(78, 159, 51);
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    padding: 5px;
    width: 300px;
}

h1 {
    font-size: 28px;
    margin: 30px auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 280px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 45px auto 0;
    font-weight: bold;
}

.imagebutton {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

button:hover {
    background-color: gray;
}

p {
    padding-left: 2px;
    margin: 0;
}