<app-header></app-header>
<h1>Votre Commande :</h1>
<div *ngFor="let history of productHistory;let index = index">
<div class="card" *ngIf="history.quantity>0">
  <fa-icon [icon]="faTrash" (click)="decreaseQuantity(index)"></fa-icon>
    <div class="name"><p>Nom :{{history!.item | uppercase}}</p></div>
    <div><p>Prix : {{history!.price}} </p></div>
    <div><p>Quantité : {{history!.quantity}} </p></div>

</div>
<hr>
</div>
<hr>
<div class="total">
  <p>Total : {{total}} €</p>
</div>
<div class="payment" id="payments"></div>
<input type="submit" value="Valider" (click)="callStoreHistory()">
