<div class="card">
  <div class="name"><p class="insideName">{{producteur?.name}}

  </p><span class="like-count">{{ producteurLikesCount }}</span>
    <button class="btn-like" (click)="toggleLike()">
      <img class="like" [src]="liked ? 'assets/liked.png' : 'assets/like.png'" alt="Like">
    </button>
  </div>
  <div ><img class="photo" src="{{producteur?.photoDevanture}}" alt=""></div>
  <div class="info-card">
    <div class="loc"><p>Actuellement Ã  : {{producteur?.localisationClear}}</p></div>
    <hr>
    <div class="horaire"><p>Horaire: {{producteur?.horaires}}</p></div>
    <hr>
    <div class="description">{{producteur?.description}}</div>
    <br>
    <div class="btnSection"><button class="btnSection1" [routerLink]="['/menu',{id:producteur!.id,url:producteur!.photoDevanture}]">Voir Produit</button></div>
  </div>
</div>