button {
  background-color: rgb(78, 159, 51);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  width: 280px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  font-weight : bold ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  background-color: green;
}

.imagebutton {

  width : 25px;
  height : 25px;
}

.logo {
  /* display: block; */
 width: 100%;
}
div {
  display: block;
  margin-right: auto;
  width: 100%;
}
p{
 text-align: center;
}
